<html xmlns:th="http://www.thymeleaf.org"
	data-th-replace="~{layouts/layout :: layout-filmotheque( 
				titrePage=~{:: title},
				contenuPage=~{:: main},
				ressourcesSupp=~{:: #ressources-css})}">
<head>
	<!-- Avis comme titre de page -->
	<title data-th-text="#{view-avis-form.title}"></title>
	<!-- Ajout de CSS tp-table.css -->
	<th:block id="ressources-css">
		<link rel="stylesheet" data-th-href="@{/css/tp-form.css}">
		<link rel="stylesheet" data-th-href="@{/css/tp-error.css}">
	</th:block>
</head>
<body>
	<main>
	
		<form data-th-action="@{/avis/creer(idFilm=${idFilm})}"
			method="post"
			data-th-object="${avis}">
			<h1 data-th-text="#{view-avis-form.h1} +  ${titreFilm}"></h1>
			
			<!-- Affichage des Exceptions Métiers -->
			<p class="cards" data-th-each="err : ${#fields.errors('global')}" data-th-text="#{${err}}"/>
			

			<ul class="flex-outer">
				<li>
					<label for="inputNote" data-th-text="#{view-avis-form.note}"></label> 
				<input type="number" min="0" max="5" id="inputNote" data-th-field="*{note}" required />
				</li>
				<li>
					<label for="taComment"  data-th-text="#{view-avis-form.commentaire}"></label>

				<textarea id="taComment" data-th-field="*{commentaire}" rows="3" required maxlength="250"></textarea>
				</li>
				<li>
					<button type="submit" data-th-text="#{view-avis-form.enregistrer}"></button>
				</li>
			</ul>
		</form>
	</main>
</body>
</html>
